node_modules
Backend/node_modules
.git
.gitignore
.DS_Store
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Local builds
build
.dist
dist

# Editors
.vscode
.idea

# Exclude everything not needed in Docker
README.md
run_full.sh
Dockerfile
.dockerignore
*.md
